html {
    height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
    height: 100%;
}
.wrap {
    position: relative;
    height: 100%;
}
header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    background: #7c677f;
}
.search-wrap {
    padding: 5px;
}
h1 {
	margin: 0;
	font-style: italic;
	color: white;
}
main {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
    background-color: #8076a3;
    padding: 10px 5px;
}
.column {
    width: 250px;
    background-color: white;
    padding: 10px;
}
.card-list {
    list-style: none;
    padding-left: 0;
}
.urgent, .ordinary {
    padding: 5px;
    margin-bottom: 10px;
}

.urgent {
    background-color: #f9c5bd;
}
.ordinary {
    background-color: #9bc400;
}
button {
    background-color: #8076a3;
    padding: 4px 7px;
    color: white;
    border: none;
    cursor: pointer;
}
button:focus {
    outline: none;
}

.window {
    position: fixed;
    width: 500px;
    height: auto;
    top: 20%;
    left: 50%;
    margin-left: -250px;
    border: #8076a3;
    background-color: #f9c5bd;
}

.veil {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
